<div class="table__body__row" *ngFor="let col of [1,2,3,4,5]">
  <ng-container class="table__body__row__cell" *ngFor="let lesson of lessons">
    <div [className]="'table__body__row__cell ' + setCol(lesson) + ' ' + setRow(lesson)">
      {{ lesson.student }}
    </div>
    <!--
    <ng-container [ngSwitch]="lesson?.id">
      <div *ngSwitchCase="1" [className]="'table__body__row__cell ' + setRow(lesson)">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="2" class="table__body__row__cell table__body__row__cell--col2">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="3" class="table__body__row__cell table__body__row__cell--col3">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="4" class="table__body__row__cell table__body__row__cell--col4">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="5" class="table__body__row__cell table__body__row__cell--col5">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="6" class="table__body__row__cell table__body__row__cell--col6">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="7" class="table__body__row__cell table__body__row__cell--col7">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="8" class="table__body__row__cell table__body__row__cell--col8">
        {{ lesson.student }}
      </div>
      <div *ngSwitchCase="9" class="table__body__row__cell table__body__row__cell--col9">
        {{ lesson.student }}
      </div>
    </ng-container>
    -->
  </ng-container>
</div>