.table__body__row {
  display: grid;
  grid-auto-flow: dense;
  border: .1em solid #000;
  padding: .2em;
  margin: .2em;
}

.table__body__row__cell {
  border: .1em solid #f00;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__body__row__cell--col1 { grid-column: 1; }
.table__body__row__cell--col2 { grid-column: 2; }
.table__body__row__cell--col3 { grid-column: 3; }
.table__body__row__cell--col4 { grid-column: 4; }
.table__body__row__cell--col5 { grid-column: 5; }
.table__body__row__cell--col6 { grid-column: 6; }
.table__body__row__cell--col7 { grid-column: 7; }
.table__body__row__cell--col8 { grid-column: 8; }
.table__body__row__cell--col9 { grid-column: 9; }
