.update-dialog {
  display: grid;
  grid-template-columns: .05fr 1fr;
  grid-template-areas: 
    "header header"
    ". body";
  align-items: center;
  color: #fff;
  padding: .5em;
}

.update-dialog__header {
  grid-area: header;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.update-dialog__body {
  grid-area: body;
  font-size: 1em;
}

i {
  font-size: 2em;
  margin-left: .5em;
}