<div class="student-layout">
    <div class="student-layout__buttons">
      <button mat-raised-button class="student-btn" (click)="toggleSearch()">Keresés</button>
      <button mat-raised-button class="student-btn" (click)="toggleNew()">Új tanuló</button>
      <button mat-raised-button class="student-btn" (click)="toggleDelete()">Törlés</button>
    </div>

    <!-- Searching amongst students -->
    <ng-container *ngIf="showVarSearch; else showVarFalse">
      <mat-form-field class="student-layout__form">
          <mat-label>Tanuló neve</mat-label>
          <mat-select [(ngModel)]="searchStudent" (selectionChange)="toggleLessonView()">
              <mat-option *ngFor="let student of students" [value]="student">{{ student.name }}</mat-option>
          </mat-select>
      </mat-form-field>
      <ng-container *ngIf="searchStudent">
          <form #form="ngForm" class="student-layout__result" (ngSubmit)="save()">
              <mat-form-field>
                  <input matInput placeholder="Tanuló neve" [(ngModel)]="searchStudent.name" name="name" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Email címe" [(ngModel)]="searchStudent.email" name="email" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Telefonszáma" [(ngModel)]="searchStudent.telNum" name="telnum" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Születési dátuma" [(ngModel)]="searchStudent.birthDate" name="birthdate" required>
              </mat-form-field>
              <button class="result-btn" mat-raised-button type="submit" (click)="openDialog()">Mentés</button> 
          </form>
          <div class="student-layout__lesson--btn">
            <button mat-raised-button class="student-btn" (click)="toggleLessonSettings()">Módosítás</button>
            <button mat-raised-button class="student-btn" (click)="toggleNewLessons()">Új óra</button>
          </div>
          <div class="student-layout__lesson">

            <!-- Showing the student's lessons -->
            <ng-container *ngIf="showVarLessons">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let day of studentLessons.days">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ day }}
                    </mat-panel-title>
                    <mat-panel-description>
                      Órák száma: {{ days.length }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-expansion-panel *ngFor="let lesson of studentLessons.lessons">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ lesson.lessonDate | date : "y-MM-dd" }} | {{ lesson.lessonStart }}
                      </mat-panel-title>
                      <mat-panel-description>
                        Asd
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>

            <!-- Adding new lessons to the student -->
            <ng-container *ngIf="showVarNewLesson">
              <form #form="ngForm" class="student-layout__lesson-new" (ngSubmit)="addMany(newLesson)">
                <mat-form-field>
                    <input matInput placeholder="Tanuló neve" [(ngModel)]="searchStudent.name" name="studentName" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Óra típusa</mat-label>
                    <mat-select [(ngModel)]="newLesson.lessonType" name="lessonType" required>
                        <mat-option *ngFor="let type of lessonTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Óra dátuma (ÉÉÉÉ-HH-NN)" [(ngModel)]="newLesson.lessonDate" name="lessonDate" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Óra időpontja</mat-label>
                    <mat-select [(ngModel)]="newLesson.lessonStart" name="lessonTime" required>
                        <mat-option *ngFor="let time of lessonTimes" [value]="time">{{ time }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="student-btn" type="submit" mat-raised-button (click)="openDialog()">Mentés</button> 
              </form>
            </ng-container>
          </div>
      </ng-container>
    </ng-container>

    <!-- Adding new student -->
    <ng-template #showVarFalse>
      <ng-container *ngIf="showVarNew">
        <form #form="ngForm" class="student-layout__new-student" (ngSubmit)="add()">
            <mat-form-field>
                <input matInput placeholder="Tanuló neve" [(ngModel)]="newStudent.name" name="name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email címe" [(ngModel)]="newStudent.email" name="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefonszáma" [(ngModel)]="newStudent.telNum" name="telnum" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Születési dátuma" [(ngModel)]="newStudent.birthDate" name="birthdate" required>
            </mat-form-field>
            <button class="result-btn" type="submit" mat-raised-button (click)="openDialog()">Mentés</button> 
        </form>
      </ng-container>
    </ng-template>

    <!-- Deleting a student -->
    <ng-container *ngIf="showVarDelete">
      <mat-form-field class="student-layout__form">
          <mat-label>Tanuló neve</mat-label>
          <mat-select [(ngModel)]="selected">
              <mat-option *ngFor="let student of students" [value]="student">{{ student.name }}</mat-option>
          </mat-select>
      </mat-form-field>
      <ng-container *ngIf="selected">
          <form #form="ngForm" class="student-layout__result" (ngSubmit)="delete()">
              <mat-form-field>
                  <input matInput placeholder="Tanuló neve" [(ngModel)]="selected.name" name="name" disabled>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Email címe" [(ngModel)]="selected.email" name="email" disabled>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Telefonszáma" [(ngModel)]="selected.telNum" name="telnum" disabled>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Születési dátuma" [(ngModel)]="selected.birthDate" name="birthdate" disabled>
              </mat-form-field>
              <button class="result-btn" type="submit" mat-raised-button (click)="openDialog()">Törlés</button> 
          </form>
      </ng-container>
    </ng-container>
</div>