<div class="student-layout">
    <div class="student-layout__buttons">
      <button mat-button type="button" class="student-btn" (click)="toggleSearch()">Keresés</button>
      <button mat-button type="button" class="student-btn" (click)="toggleNew()">Új tanuló</button>
    </div>
    <ng-container *ngIf="showVarSearch; else showVarFalse">
      <mat-form-field class="student-layout__form">
          <mat-label>Tanuló neve</mat-label>
          <mat-select [(ngModel)]="selected">
              <mat-option *ngFor="let student of students" [value]="student">{{ student.name }}</mat-option>
          </mat-select>
      </mat-form-field>
      <ng-container *ngIf="selected">
          <form #form="ngForm" class="student-layout__result" (ngSubmit)="save(selected)">
              <mat-form-field>
                  <input matInput placeholder="Tanuló neve" [(ngModel)]="selected.name" name="name" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Email címe" [(ngModel)]="selected.email" name="email" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Telefonszáma" [(ngModel)]="selected.telNum" name="telnum" required>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Születési dátuma" [(ngModel)]="selected.birthDate" name="birthdate" required>
              </mat-form-field>
              <button class="result-btn" type="submit" mat-button (click)="openDialog()">Mentés</button> 
          </form>
      </ng-container>
    </ng-container>
    <ng-template #showVarFalse>
      <ng-container *ngIf="showVarNew">
        <form #form="ngForm" class="student-layout__new-student" (ngSubmit)="add()">
            <mat-form-field>
                <input matInput placeholder="Tanuló neve" [(ngModel)]="newStudent.name" name="name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email címe" [(ngModel)]="newStudent.email" name="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefonszáma" [(ngModel)]="newStudent.telNum" name="telnum" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Születési dátuma" [(ngModel)]="newStudent.birthDate" name="birthdate" required>
            </mat-form-field>
            <button class="result-btn" type="submit" mat-button (click)="openDialog()">Mentés</button> 
        </form>
      </ng-container>
    </ng-template>
</div>