<div class="table">
  <div class="table__header__top">
    <div class="table__header__top__cell" *ngFor="let col of columns">{{ col }}</div>
  </div>
  <div class="table__header__side">
    <div class="table__header__side__cell" *ngFor="let row of getDays()">{{ row }}</div>
  </div>
  <div class="table__body">
    <div class="table__body__row" *ngFor="let row of getDays()">
      <ng-container *ngFor="let lesson of lessons">
        <ng-container *ngFor="let lssn of setRow(lesson, row)">
          <div [className]="'table__body__row__cell ' + setCol(lssn) + ' ' + setActiveDay(row)">
            {{ lssn.student }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>