<div class="table">
  <div class="table__header__top">
    <div class="table__header__top__cell" *ngFor="let col of columns">{{ col }}</div>
  </div>
  <div class="table__header__side">
    <div class="table__header__side__cell" *ngFor="let row of [1,2,3,4,5]">{{ row }}</div>
  </div>
  <div class="table__body">
    <div class="table__body__row" *ngFor="let row of [1,2,3,4,5]">
      <ng-container *ngFor="let lesson of lessons">
        <ng-container *ngFor="let l of setRow(lesson, row)">
          <div [className]="'table__body__row__cell ' + setCol(l)">
            {{ l.student }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>