<div class="table">
  <div class="table__nav">
    <div class="table__nav__previous">
      <button (click)="goToPrevWeek()">Előző</button>
    </div>
    <div class="table__nav__today">
      <button (click)="goToToday()">Ma</button>
    </div>
    <div class="table__nav__next">
      <button (click)="goToNextWeek()">Következő</button>
    </div>
    <div class="table__nav__date">
      <div class="table__nav__date__year">{{ currentYear }}</div>
      <div class="table__nav__date__month">{{ monthsLong[currentMonth] }}</div>
    </div>
  </div>
  <div class="table__datepicker">
    <input [matDatepicker]="picker" type="hidden" [(ngModel)]="datepickerDate">
    <mat-datepicker #picker></mat-datepicker>
    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
  </div>
  <div class="table__header__top">
    <div class="table__header__top__cell" *ngFor="let col of columns">{{ col }}</div>
  </div>
  <div class="table__header__side">
    <div class="table__header__side__cell" *ngFor="let row of getDays()">{{ row }}</div>
  </div>
  <div class="table__body">
    <div [className]="'table__body__row' + setActiveDay(date)" *ngFor="let date of getDates()">
      <ng-container *ngFor="let lesson of lessons">
        <ng-container *ngFor="let lssn of setRow(lesson, date)">
          <div [className]="'table__body__row__cell' + setCol(lssn)">
            {{ lssn.student }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>