.table {
  display: grid;
  grid-template-columns: .1fr .9fr;
  grid-template-areas: 
    ". header-top"
    "header-side body";
  padding: .5em;
  margin: 1em;
  border: .1em solid #00f;
}

.table__header__top {
  grid-area: header-top;
  display: flex;
  border: .1em solid #000;
  padding: .5em;
}

.table__header__top__cell {
  padding: .5em;
  border: .1em solid #f00;
  width: 100%;
}

.table__header__side {
  grid-area: header-side;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: .1em solid #000;
  padding: .5em;
  width: auto;
}

.table__header__side__cell {
  padding: .5em;
  border: .1em solid #f00;
}

.table__body {
  grid-area: body;
  display: grid;
  border: .1em solid #00f;
  margin: .5em 0 0 .5em;
}

.table__body__row {
  display: grid;
  border: .1em solid #000;
  padding: .2em;
  margin: .2em;
}

.table__body__row__cell {
  border: .1em solid #f00;
  width: 100%;
}

.table__body__row__cell--col1 {
  grid-column: 1;
}

.table__body__row__cell--col2 {
  grid-column: 2
}