.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  border: .1em solid #000;
  margin: 1em;
}

.grid-header {
  background: #777;
  color: #fff;
  padding: .5em;
}

.grid-elem {
  background: #ccc;
  margin: .2em;
}

.first, .second, .third {
  padding: .2em .5em;
}

.first {
  border-left: .2em solid #0f0;
  grid-column: 1;
}

.second {
  border-left: .2em solid #f00;
  grid-column: 2;
}

.third {
  border-left: .2em solid #00f;
  grid-column: 3;
  margin-right: .2em;
}